<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     Copyright (c) 2005, 2008 IBM Corporation and others.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="no.javatime.category"
            name="InPlace">
      </category>
      <view
            name="Bundle Log"
            icon="icons/message_view.gif"
            category="no.javatime.category"
            class="no.javatime.inplace.bundle.log.view.LogView"
            id="no.javatime.inplace.bundle.log.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <viewShortcut
               id="no.javatime.inplace.bundle.log.view">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <viewShortcut
               id="no.javatime.inplace.bundle.log.view">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.views.showView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Q M">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="no.javatime.inplace.bundle.log.view">
         </parameter>
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Q M">
      </key>
      <key
            platform="carbon"
            commandId="org.eclipse.ui.views.showView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+Q M">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="no.javatime.inplace.bundle.log.view">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
       <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="log"
            id="log"
            name="%content-type.name.log"
            priority="high">
      </content-type>
   </extension>
</plugin>
